@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

*{font-family: 'Nunito Sans', sans-serif;}

.footer{
  display: block;
  background-color: #f7f7f7;
  border-top: 1px solid #DDDDDD;
  color: rgb(34,34,34);
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 0px;
}

.sectionContainer{
  display: block;
  color: rgb(34,34,34);
  margin-left: 197px;
  margin-right: 197px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 1280px;
  padding-left: 80px;
  padding-right: 80px;
  text-size-adjust: 100%;
}

.colContainer{
  display: flex;
  flex-direction: row;
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 48px;
  padding-top: 48px;
  padding-left: 0px;
  padding-right: 0px;
  text-size-adjust: 100%;
}

.col{
 display: block;
 border-bottom-color: rgb(34,34,34);
 border-bottom-style: none;
 border-bottom-width: 0px;
 margin-bottom: 0px;
 padding-bottom: 0px;
 padding-left: 12px;
 padding-right: 12px;
 text-size-adjust: 100%;
 width: 286px;
}

.hFoot{
  font-weight: 700;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-top: 0px;
  text-size-adjust: 100%;
  text-transform: uppercase;
}

.uFoot{
  display: block;
  flex-wrap: wrap;
  font-weight: 400;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-inline-start: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
}

.lFoot{
    box-sizing: border-box;
    display: list-item;
    flex-basis: 33.3333%;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    text-size-adjust: 100%;
}

.footerDesc{
  border-top-color: rgb(221, 221, 221);
  font-size:14px;
  line-height:18px;
  font-weight:400;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  display: block;
  height: 69px;
  padding-bottom: 24px;
  padding-top: 24px;
  text-size-adjust: 100%;
}

.footerSection{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 20px;
    text-align: left;
    text-size-adjust: 100%;
    width: 1120px;
}
.socialContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  width: 327px;
  margin-right: 24px;
  margin-bottom: 0px;
  text-size-adjust: 100%;
}
.footerIMG{
  width: 18px;
}
.english{
  display: flex;
  flex-direction: row;
}

/*Nav Bar*/
.navbar {
    height: 80px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px !important;
    padding-right: 80px;
    padding-left: 80px;
    top: 0;
}@media (max-width: 1128px) {
    .navbar {
        padding-right: 40px;
        padding-left: 40px;
    }
}@media (max-width: 743px) {
    .navbar {
        display: none;
    }
}.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1128px;
    width: 100%;
}.logo-container {
    margin-right: 140px;
}@media (max-width: 1128px) {
    .logo-container {
        margin-right: 0;
    }
}.desktop-logo {
    display: none;
}@media (min-width: 1128px) {
    .desktop-logo {
        display: block;
    }    .mobile-logo {
        display: none;
    }
}.search {
    height: 48px;
}.search:hover,
.user-button-container:hover {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
    transition: box-shadow 0.2s ease 0s;
    border-radius: 24px;
}.search-button,
.user-button-container {
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    border: 1px solid rgb(221, 221, 221);
    height: 100%;
    width: 300px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.search-button span {
    padding: 0 16px;
}.search-button:focus {
    outline: none;
}.search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff385c;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: 7px 7px 7px 0px;
}.other {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
}.become-a-host,
.globe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    line-height: 18px;
    border-radius: 22px;
    height: 100%;
    padding: 15px;
    margin-right: 5px;
}.become-a-host:hover,
.globe:hover {
    background: rgba(0, 0, 0, 0.03);
}.user-button-container {
    width: 77px;
    padding: 5px 5px 5px 12px;
}
